<div class="container-fluid section--header">
    <div class="row my-5">
        <div class="col-12">
            <div class="b-light heading-container col-12 col-lg-6">
                <h1 class="heading">Arthurin & Lena</h1>
            </div>
            <div class="image" [style.background-image]="(config | async)?.main.photo"></div>
        </div>
    </div>
</div>

<div class="container section--everyday">
    <div class="row my-5">
        <div class="image-container col-md-4 offset-md-2 offset-sm-1 col-sm-5 col-8">
            <img *ngIf="config | async" [src]="(config | async)?.main.everydayPhoto" class="img-fluid" />
            <h2 class="subheading">Everyday *</h2>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 my-lg-0">
            <div class="text">
                <span class="subtext">* когда удалось отойти от компьютера</span>
                <br>
                <a routerLink="/everyday" class="click">Тут мы складываем фоточки</a>, на которых что-то происходит. Иногда мы проводим время IRL, улыбаемся и радуемся жизни
            </div>
        </div>
    </div>
</div>

<div class="container-fluid colored-heading">
    <div class="row my-5">
        <div class="col-12 content-container">
            <h2 class="subheading text-center">Travel</h2>
            <div class="text text-center">collect moments, not things</div>
        </div>
    </div>
</div>
<div class="container section--trips">
    <div class="row my-5">
        <a *ngFor="let item of (config | async)?.destinations" class="col-md-6 col-12 my-2 image-outer" routerLink="{{ '/' + item.destination + '/start'}}">
            <div class="image-container">
                <img class="img-fluid" [src]="item.photo" />
                <div class="image-overlay text">{{ item.title }}</div>
            </div>
        </a>
    </div>
</div>