<div class="action-button __back"><a routerLink="/">↩</a></div>
<div class="container-fluid start-container" [style.background-image]="(photo | async)?.url">
    <section [style.background-color]="(photo | async)?.color" class="tint">
        <section class="weather">
            <div class="temperature">{{ (weather | async)?.temperature }} °C</div>
            <div class="wind">{{ (weather | async)?.windSpeed }} kmph</div>
            <div class="humidity">{{ (weather | async)?.humidity }}%</div>
            <div class="summary">{{ (weather | async)?.weatherDesc }}</div>
        </section>
    </section>
    <section class="al">
        <h1 class="header">Arthurin & Lena</h1>
        <div class="description">{{ (config | async)?.destinations[destination].subtitle }}</div>
    </section>
    <section id="countdown" class="countdown row" *ngIf="config | async">
        <div class="days col-5 offset-7">
            <div *ngIf="tripDates.daysPast >= 0
                    || (tripDates.currentDate >= destinationConfig.start
                        && tripDates.currentDate <= destinationConfig.end);
                   else countdown">

                  <span *ngIf="tripDates.daysPast > 0; else tripInProgress">
                      Trip has ended <span class="nowrap">{{ tripDates.daysPast }} days ago :(</span>
                  </span>
                  <ng-template #tripInProgress>Trip is in progress :)</ng-template>
                  <p><a class="click" routerLink="{{ '/' + destination + '/album' }}">view our photos</a></p>
            </div>
            <ng-template #countdown>{{ countdown$ | async }}</ng-template>
        </div>
    </section>
</div>
