<div class="lightbox-wrapper" (keyup)="destroy()">
  <div>
      <div class="lightbox-overlay" (click)="destroy()"></div>
      <img class="expanded" [src]="image">
      <div class="lightbox-nav lightbox-nav--prev" (click)="prev()">←</div>
      <div class="lightbox-nav lightbox-nav--next" (click)="next()">→</div>
  </div>
</div>
