<div class="action-button __back"><a routerLink="/">↩</a></div>
<div class="container-fluid colored-heading">
    <div class="row">
        <div class="col-12 content-container">
            <h2 class="subheading text-center">Everyday</h2>
            <div class="text text-center">is an adventure</div>
        </div>
    </div>
</div>
<div class="container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScroll()">
    <masonry class="row my-5" [useImagesLoaded]="true" [options]="{ itemSelector: '.everyday-post', columnWidth: '.everyday-post', percentPosition: true, horizontalOrder: true}">
        <masonry-brick *ngFor="let post of displayedPosts" class="col-6 col-md-4 everyday-post">
            <div class="everyday-main-photo" (click)="openLightbox(post.photos[0].original_size.url, post)">
                <img class="img-fluid" [src]="post.photos[0].original_size.url">
            </div>
            <div class="everyday-description" [innerHtml]="post.caption"></div>
        </masonry-brick>
    </masonry>
</div>