<div class="action-button __back"><a routerLink="{{ '/' + destination + '/start'}}">↩</a></div>
<div class="action-button __to-the-top" *ngIf="showToTheTopButton" (click)="scrollToTop($event)"><a href="#">↥</a></div>
<h1 class="heading">{{ (config | async)?.destinations[destination].title }}</h1>
<div id="album" class="album-container container-fluid"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScroll()">

    <masonry [useImagesLoaded]="true" [options]="{ stamp: 'h2', itemSelector: '.photo', columnWidth: '.photo', percentPosition: true }" class="album row" *ngFor="let album of displayedAlbum">
        <h2 class="col-12">{{ album.date }}</h2>
        <masonry-brick class="photo" *ngFor="let item of album.photos" (click)="openLightbox(item.photo.url)">
            <img class="lightbox-photo img-fluid" [src]="item.photo.url">
        </masonry-brick>
    </masonry>
</div>
