.everyday-post {
    cursor: pointer;
    margin-bottom: 2rem;
}
.everyday-description {
    .title {
        @include subheading('m');
        font-family: $font-family-main;
        color: $accent-color-cold;
    }

    .date {
        color: $color-shade-A;
    }
}