.action-button {
    position: fixed;
    padding: $indent-xs / 2 $indent-xs;
    line-height: 1;
    font-size: $font-size-s;
    text-align: center;
    background: $accent-color-warm;
    z-index: $z-index-upper;

    a {
        font-family: $font-family-secondary;
        color: $base-color;
        text-decoration: none;
    }

    &.__back {
        top: 0;
        left: 0;
    }

    &.__to-the-top {
        bottom: 0;
        right: 0;
    }
}
