.countdown {
    font-family: $font-family-secondary;
    position: relative;
    margin-top: 5vh;
    font-size: 4vw;
    text-align: right;
    background: rgba($color-shade-E, $opacity-B);
    color: $base-color;
    //letter-spacing: 1.5vw;
    padding: $indent-s;

    .click {
        color: $color-shade-A;
    }
    .days {
        @media (min-width: #{$breakpoint-s}) {
            width: calc(100vw - 400px - 10%);
        }
    }
}
