.colored-heading {
    height: 200px;
    background: $accent-color-warm;

    .subheading,
    .text {
        color: $base-color;
    }

    .content-container {
        margin-top: 50px;
    }

    @media screen and (min-width: $breakpoint-s) {
        height: 300px;
        .content-container {
            margin-top: 100px;
        }

    }

    @media screen and (min-width: $breakpoint-m) {
        height: 450px;
        .content-container {
            margin-top: 150px;
        }
    }
}
