.lightbox-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: $z-index-upper + 4;
}

.lightbox-photo {
    cursor: pointer;
    min-width: 100%;
}

.expanded {
    position: fixed;
    max-width: 95%;
    max-height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $z-index-upper + 2;
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: $color-shade-E;
    height: 100%;
    width: 100%;
    opacity: $opacity-C;
    z-index: $z-index-upper + 1;
}

.lightbox-nav {
    display: block;
    position: fixed;
    width: 1.5em;
    height: 1.5em;
    top: calc(50% - 1em);
    border-radius: 1em;
    z-index: $z-index-upper + 2;
    color: $base-color;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    line-height: 1.5;
    background: rgba($color-shade-E, 0.8);

    &--next {
        right: 0;
    }
}

