.album {
    .photo {
        display: inline-block;
        width: 100%;
        margin: 0 0 10px;
    }

    @media all and (min-width: $breakpoint-s) {
        .photo {
            margin: 0 5px 10px;
            width: calc(50% - 10px);
        }
    }
    @media all and (min-width: $breakpoint-m) {
        .photo {
            margin: 0 10px 20px;
            width: calc(33.33% - 20px);
        }
    }
}
