.timeline {
    width: 100%;
    min-width: $timeline-width;
    font-family: $font-family-main;

    a {
        text-decoration: none;
    }

    h1 {
        padding: 0 0 $indent-xs;
    }

    .timeline-item {
        display: flex;
        padding-left: $indent-m + $indent-xs;
        padding-bottom: $indent-m;
        position: relative;
        transition: $animation-duration background;
        opacity: 0;
        animation: show-in $animation-duration cubic-bezier(0, 0.9, 0.3, 1.2) forwards;

        @media (min-width: $breakpoint-s) {
            height: $timeline-height;
            padding-bottom: 0;
        }

        &:before {
            content: '';
            position: absolute;
            width: $timeline-stroke-width;
            height: 100%;
            background: $color-shade-C;
            left: calc(#{$timeline-point-radius} / 2 - #{$timeline-stroke-width} / 2 + #{$indent-xs});
        }

        &:after {
            content: '';
            position: absolute;
            width: $timeline-point-radius;
            height: $timeline-point-radius;
            background: $base-color;
            border-radius: 50%;
            border: $timeline-stroke-width solid $color-shade-C;
            box-sizing: border-box;
            top: calc(#{$font-size-m} - #{$timeline-point-radius});
            left: $indent-xs;
            transition: $animation-duration box-shadow;
        }

        .timeline-item-description {
            padding: $indent-xs;
            flex-basis: $timeline-width;
            width: $timeline-width;
            font-size: $font-size-m;
            color: $base-color;
        }

        .timeline-item-photo {
            display: none;

            @media (min-width: $breakpoint-s) {
                display: block;
                flex-grow: 1;
                background-size: cover;
                background-position-y: 50%;
                background-blend-mode: darken;
                transition: $animation-duration background;
            }
        }
    }

    @for $i from 0 through 17 {
        $color: adjust-hue($accent-color, 20 * $i);
        a:nth-of-type(#{$i + 1}) .timeline-item {
            animation-delay: 0.5s * $i;
            background: $color;

            .timeline-item-photo {
                background-color: rgba($color, 0.2);
            }
        }

        // get darker color for hover
        $color: darken($color, 5%);
        a:nth-of-type(#{$i + 1}):hover .timeline-item {
            background: $color;

            &:after {
                box-shadow: inset 0 0 0 $timeline-stroke-width $base-color;
                background: $color;
            }

            .timeline-item-photo {
                background-color: rgba($color, 0.5);
            }

        }
    }
}

@keyframes show-in {
    0% {
        opacity: 0;
        transform: translateY(#{$indent-m}) scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
