.al {
    color: $color-shade-D;
    margin-top: 15vh;
    position: relative;
    display: inline-block;
    animation: load 3 * $animation-duration;
    z-index: $z-index-base + 2;

    h1 {
        font-size: 8vw;
    }

    .description {
        font-size: 2vw;
        text-align: right;
    }
}
