.tint {
    background: $color-shade-B;
    min-width: 120px;
    position: absolute;
    height: 100%;
    margin-left: 10%;
    transition: background $animation-duration;
    animation: load 2 * $animation-duration;
    z-index: $z-index-base + 1;

    @media (min-width: #{$breakpoint-s}) {
        min-width: 300px;

    }
}
