.weather {
    position: absolute;
    bottom: 1vh;
    padding: 20px;
    font-size: 4vw;
    color: $base-color;

    .temperature {
        font-size: 7vw;
    }

    @media screen and (min-width: $breakpoint-m) {
        & {
            font-size: 2.5vw;
        }
        .temperature {
            font-size: 5vw;
        }
    }
}
