* {
    margin: 0;
    padding: 0;
}
html,
body {
    max-width: 100%;
}

/************ START PAGE ****************/
/****************************************/
.start-container {
    font-family: $font-family-main;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: $color-shade-B;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .header {
        font-family: $font-family-accent;
    }
}

/************ ALBUM ****************/
/***********************************/
.heading {
    color: $color-shade-A;
    text-align: center;
    display: block;
    font-size: 3vw;
    font-family: $font-family-secondary;

}

/******* NEW START PAGE ************/
.section--header {
    .heading {
        z-index: 1;

        &-container {
            display: flex;
            height: 200px;
            padding-top: 50px;
            z-index: -1;

            @media screen and (min-width: $breakpoint-s) {
                padding-top: 100px;
                height: 300px;
                z-index: inherit;
            }

            @media screen and (min-width: $breakpoint-m) {
                height: 500px;
            }
        }
    }
    .image {
        width: 85%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 25%;
        margin-left: 10%;
        margin-top: -15%;

        @media screen and (min-width: $breakpoint-s) {
            position: absolute;
            width: auto;
            top: 40px;
            right: 0;
            left: 30%;
            margin: 0;
            height: 300px;
        }
        @media screen and (min-width: $breakpoint-m) {
            height: 350px;
        }
    }
}

.section--trips {
    .image-container {
        position: relative;
    }
    .image-outer > .image-container:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: border 0.2s;
    }
    .image-outer:hover {
        > .image-container:before {
            border: 12px solid $accent-color-cold;
        }
        .image-overlay {
            transform: translateY(-30px);
        }
    }
    .image-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 20px;
        width: 100%;
        background: $accent-color-cold;
        color: $base-color;
        transition: transform 0.2s, color 0.2s;
    }
}

.section--everyday {
    margin-top: 140px;
    .subheading {
        color: $accent-color-warm;
        transform: rotate(-90deg) translate(10%, -100%);
        transform-origin: left;
    }

    @media screen and (max-width: $breakpoint-xs + 1px) {
        .image-container {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
