.heading {
    color: $accent-color-cold;
    font-size: $font-size-xl / 2;
    font-family: $font-family-accent;
}

.subheading {
   @include subheading();
}

.text {
    font-size: $font-size-s;
    font-family: $font-family-main;
    color: $color-shade-D;
}
.subtext {
    color: $color-shade-A;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}
.click {
    cursor: pointer;
    box-shadow: inset 0 -7px 0 $accent-color-cold-light;
    color: $color-shade-D;
    transition: background-color .25s ease-in-out;
    padding: 2px 2px 0 2px;
    &:hover {
        color: $color-shade-D;
        background-color: $accent-color-cold-light;
    }
    &:active,
    &:visited,
    &:focus {
        color: $color-shade-D;
    }
}

@media screen and (min-width: $breakpoint-s) {
    .heading {
        font-size: $font-size-xl / 1.5;
    }
    .text {
        font-size: $font-size-s;
    }
}

@media screen and (min-width: $breakpoint-m) {
    .heading {
        font-size: $font-size-xl;
    }
    .text {
        font-size: $font-size-s;
    }
}
