.invisible {
    visibility: hidden;
}
.loading {
    opacity: $opacity-A;
}
.nowrap {
    white-space: nowrap;
}

.b-light {
    background-color: $color-shade-light;
}

@keyframes load {
    0% {
        left: -100%;
    }
    80% {
        left: -100%;
    }
    100% {
        left: 0;
        visibility: visible;
    }
}
