$breakpoint-xs: 576px;
$breakpoint-s: 640px;
$breakpoint-m: 1024px;

$font-family-main: 'Source Sans Pro', sans-serif;
$font-family-secondary: 'Space Mono', cursive;
$font-family-accent: 'enjoytheride', cursive;

$font-size-s: 1.6rem;
$font-size-m: 3rem;
$font-size-l: 4.2rem;
$font-size-xl: 6rem;

$indent-xs: 10px;
$indent-s: 20px;
$indent-m: 40px;

$base-color: white;
$color-shade-light: #f2f0f1;
$color-shade-A: darken($base-color, 20%); // #ccc
$color-shade-B: darken($base-color, 40%); // #999
$color-shade-C: darken($base-color, 60%); // #666
$color-shade-D: darken($base-color, 80%); // #333
$color-shade-E: darken($base-color, 100%); // black

$accent-color: #f8ec4a;
//$accent-color-warm: #ffc7b3;
$accent-color-warm: #ffa8a9;
$accent-color-cold: #243547;
$accent-color-cold-light: lighten(#243547, 35%);

$animation-duration: 0.5s;

$opacity-A: 0.3;
$opacity-B: 0.7;
$opacity-C: 0.85;

$z-index-base: 0;
$z-index-upper: 1000;

$timeline-width: 300px;
$timeline-height: 300px;
$timeline-point-radius: 32px;
$timeline-stroke-width: 4px;

@mixin subheading($size: 'l') {
    $font-size: $font-size-l;

    @if ($size == 's') {
        $font-size: $font-size-s;
    }
    @if ($size == 'm') {
        $font-size: $font-size-m;
    }

    font-size: $font-size / 2;
    font-family: $font-family-accent;

    @media screen and (min-width: $breakpoint-s) {
        font-size: $font-size / 1.5;
    }

    @media screen and (min-width: $breakpoint-m) {
        font-size: $font-size;
    }
}
